.header-left {
  color: azure;
  float: left;
  padding-top: 15px;
  padding-left: 20px;
  font-size: 30px;
}
.header-right {
  float: right;
  padding-top: 25px;
  padding-right: 20px;
}

link {
  color: azure;
}

body {
  background-color: darkgray;
}
.main-title {
  padding: 30px 0;
  text-align: center;
  padding-right: 270px;
}
