table {
  margin: 0 auto;
  border-spacing: 0px;
}

td {
  width: 500px;
  background-color: white;
  border-radius: 3px;
  border: 1px dimgray solid;
  vertical-align: top;
  height: 75px;
  font-family: "メイリオ";
  font-size: 25px;
  padding-left: 7px;
}

.detail-link {
  text-decoration: none;
  color: #2d3133;
}
